<!DOCTYPE html>
<!--[if lt IE 7]>      
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>         
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ page.description[site.lang] | strip_html | truncate: 120}}">
	<title>{{ page.title[site.lang] }} - {{site.title}}</title>
    <meta property="og:title" content="{{ page.title[site.lang] }}  - {{site.title}}"/>
    <meta property="og:image" content="{{site.url}}{% t global.og.image %}"/>
    <meta property="og:description" content="{{ page.description[site.lang] | strip_html | truncate: 120}}"/>
    <meta property="og:url" content="{{ site.url }}{% if page.url %}{{ page.url }}{% endif %}" />
    <meta property="og:locale" content="{% t global.og.locale %}"/>    
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<!-- Bootstrap core CSS -->
	<link href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl_root }}" rel="stylesheet">
	<link href="{{ "/assets/css/bootstrap-extra-modal.css" | prepend: site.baseurl_root }}" rel="stylesheet">
	<link href="{{ "/assets/css/plugins.css" | prepend: site.baseurl_root }}" rel="stylesheet">
	<!-- Icons -->
	<link href="{{ "/assets/css/themify-icons.css" | prepend: site.baseurl_root }}" rel="stylesheet">
	<link href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl_root }}" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,500,700,900' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,300,500,600,700,800,900,200' rel='stylesheet' type='text/css'>
	<!-- RS5.0 Main Stylesheet -->
	<link rel="stylesheet" type="text/css" href="{{ "/assets/revolution/css/settings.css" | prepend: site.baseurl_root }}">
	<!-- RS5.0 Layers and Navigation Styles -->
	<link rel="stylesheet" type="text/css" href="{{ "/assets/revolution/css/layers.css" | prepend: site.baseurl_root }}">
	<link rel="stylesheet" type="text/css" href="{{ "/assets/revolution/css/navigation.css" | prepend: site.baseurl_root }}">
	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="{{ "/assets/css/magnific-popup.css" | prepend: site.baseurl_root }}">
	{%- comment -%} flexslider {%- endcomment -%}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.2/flexslider.css">
	<!-- Custom styles for this template -->
	<link href="{{ "/assets/css/style.css" | prepend: site.baseurl_root }}" rel="stylesheet">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
	<div class="loader"></div>
	<div class="wrapper">
		<!-- header -->
		<header>
			<div id="google_translate_element"></div>  
				<div class="top-bar bg-light hdden-xs">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 list-inline list-unstyled no-margin hidden-xs">
							<p class="no-margin">
								{% t global.lbl_contact_phone %}: <strong>{{site.phone}}</strong>
							</p>
						</div>
						<div class="col-sm-2 col-sm-offset-3">
							<button class="dropdown-toggle language pull-right" type="button" data-toggle="dropdown" aria-expanded="false">
								<img src="{{ "/assets/img" | prepend: site.baseurl_root }}/{{site.lang}}.png" width="16" height="11" alt="EN Language"> {{site.languageNames[site.lang]}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu no-border-radius no-shadow">
							{% for lang in site.languageNames %}
								{% if lang[0] == site.language_default %}
									{% if lang[0] == site.lang %}
										<li><a href="{{ site.baseurl_root }}/"><img src="{{ "/assets/img" | prepend: site.baseurl_root }}/{{lang[0]}}.png" width="16" height="11" alt="{{ lang[1] }}"> {{ lang[1] }}</a></li>
									{% else %}
										<li><a href="{{ site.baseurl_root }}/"><img src="{{ "/assets/img" | prepend: site.baseurl_root }}/{{lang[0]}}.png" width="16" height="11" alt="{{ lang[1] }}"> {{ lang[1] }}</a></li>							
									{% endif %}
								{% else %}
									{% if lang[0] == site.lang %}
										<li><a href="{{ site.baseurl_root }}/{{ lang[0] }}/"><img src="{{ "/assets/img" | prepend: site.baseurl_root }}/{{lang[0]}}.png" width="16" height="11" alt="{{ lang[1] }}"> {{ lang[1] }}</a></li>
									{% else %}
										<li><a href="{{ site.baseurl_root }}/{{ lang[0] }}/"><img src="{{ "/assets/img" | prepend: site.baseurl_root }}/{{lang[0]}}.png" width="16" height="11" alt="{{ lang[1] }}"> {{ lang[1] }}</a></li>										{% endif %}
								{% endif %}
							{% endfor %}									
							</ul>
						</div>
						<div class="col-sm-1">
							<ul class="list-inline list-unstyled pull-right">
								<li class="active">
									<a href="#">
										<i class="ti-facebook"></i> 
									</a>
								</li>
								<li>
									<a href="mailto:{{site.email}}">
										<i class="ti-email"></i>
									</a>
								</li>
							</ul>
						</div>
				</div>
			</div>
			<div id="nav-wrap">
				<div class="nav-wrap-holder">
					<div class="container" id="nav_wrapper">
						<nav class="navbar navbar-static-top nav-white">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
									<span class="sr-only">
											Toggle navigation
										</span>
									<span class="icon-bar">
										</span>
									<span class="icon-bar">
										</span>
									<span class="icon-bar">
										</span>
								</button>
								<a class="navbar-brand" href="{{site.nav[0].url | prepend: site.baseurl}}">
                                    {{site.logo}}
								</a>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="Navbar">
								<!-- regular link -->
								<ul class="nav navbar-nav navbar-right">
									{% for nav in site.nav%}
									<li class="{% if nav.url == page.url %} active {% endif %}">
										<a href="{{nav.url | prepend: site.baseurl }}"><i class="{{nav.class}}"></i> {{nav.title[site.lang]}}</a>
									</li>
									{% endfor %}
								</ul>
							</div>
						</nav>
					</div>
				</div>
				<!-- /.div nav wrap holder -->
			</div>
			<!-- /#nav wrap -->
		</header>
		<!-- end: Header -->
        {{ content }}
		<section class="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2 class="section-heading">{% t global.contact_us %} </h2>
						<h3 class="section-subheading text-muted">{% t global.address %}</h3>
						<a href="tel:{{site.phone | remove: " " }}" class="btn btn-lg btn-raised ripple-effect btn-danger "><i class="fa fa-phone"></i> {{site.phone}}</a>
						<a href="tel:{{site.mobile | remove: " " }}" class="btn btn-lg btn-raised ripple-effect btn-danger "><i class="fa fa-mobile"></i> {{site.mobile}}</a>
						<a href="mailto:{{site.email}}" class="btn btn-lg btn-raised ripple-effect btn-danger "><i class="fa fa-envelope"></i> {{site.email}}</a>
					</div>
				</div>
			</div>
		</section>
		<div class="cta-box clearfix">
			<div class="container">
				<h3>{{site.title}} | {% t global.assignment%} </h3>
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-12 pull-right">
						<a href="mailto:{{site.email}}?subject={% t global.assignment %}" class="btn btn-raised btn-danger ripple-effect btn-lg js-open-modal-left" >
							<i class="ti-shopping-cart"></i> &nbsp; {% t global.assignment%} 
						</a>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-12">
						<p>
							{% t global.description %}
						</p>
						<p>
							{% t global.assignment_desc %}
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- FOOTER -->
		<footer id="footer"> 
			<div>
				<div class="container">
					<div class="col-sm-7">
						<p>&copy; 2019  {{site.title}} </p>
					</div>
					<div class="col-sm-5">
						<p class="text-right">Created by <a href="https://www.twopix.gr" target="_blank">(2p) Twopix</a></p>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!--/#wrapper -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- <a class="test-popup-link" href="path-to-image.jpg">Open popup</a>  -->

	
	<script type="text/javascript" src="{{ "/assets/js/jquery.js" | prepend: site.baseurl_root }}"></script>
	<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl_root }}"></script>
	<script src="{{ "/assets/js/scripts.js" | prepend: site.baseurl_root }}"></script>
	{% if page.layout == 'index' %}
	<!-- REVOLUTION JS FILES -->
	<script type="text/javascript" src="{{ "/assets/revolution/js/jquery.themepunch.tools.min.js" | prepend: site.baseurl_root }}"></script>
	<script type="text/javascript" src="{{ "/assets/revolution/js/jquery.themepunch.revolution.min.js" | prepend: site.baseurl_root }}"></script>
	{% endif %}
	{% if page.layout == 'property' %}
	<!-- Magnific Popup core JS file -->
	<script src="{{ "/assets/js/jquery.magnific-popup.js" | prepend: site.baseurl_root }}"></script>
	{%- comment -%} flexslider {%- endcomment -%}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.2/jquery.flexslider.js"></script>
	{% endif %} 
	<script src="{{ "/assets/js/init.js" | prepend: site.baseurl_root }}"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', '{{ site.google_analytics }}');
	</script>
</body>
</html>